<div class="movie-poster">
    {{ content.field_postar_filme }}
</div>

<div class="director">
    {{ content.field_diretor }}
</div>

<div class="actors">
    {{ content.field_atores }}
</div>


<div class="movie_description">
    {{ content.body }}
</div>